body {
    background-color: rgb(223, 223, 207) !important;
}

.hidden {
    display: none;
}

.bg-tan {
    background-color: rgb(223, 223, 207) !important;

}

#startButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
    /* Rounded edges */
    cursor: pointer;
}

.text-center {
    text-align: center;
}

#header {
    background-image: url("../css/styles.css");
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 5cap;
    font-style: italic;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


label[for="zipCode"] {
    font-size: 40px;
}


#weatherInfo,
#getGif,
#dadJoke {
    display: none;

}


.zipInput {
    width: 300px;

    text-align: center;
    margin: 50px auto;

}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}